.MusicPlayer {
    background-color: teal;
    padding: 30px;
    width: 400px;
    margin: auto;
}

.PlayList {
    background-color: cornflowerblue;
    padding: 15px;
}

.Song {
    background-color: rgb(233, 145, 152);
    padding: 5px;
}

button {
    cursor: pointer;
}