.MyTable {
    display: flex;
    flex-direction: column;

    .MuiTableCell-head {
        font-weight: bold;
        color: #fff;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
        }

        .MuiTableSortLabel-active {
            color: #fff;

            .MuiTableSortLabel-icon {
                color: #fff!important;
           }

        }

        .deleteButton {
            visibility: hidden;
    
            &.visible {
                visibility: visible;
            }
            
        }
        
    }


}