.Game {
    width: fit-content;
    margin: 15px auto;
    padding: 15px;
}

.Game .arrow{
    height: 120px;
    width: 160px;
    background-color: green;
    clip-path: polygon(40% 0%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%, 0% 50%);
    transition-property: transform;
    transition-duration: 1s;
}